@using CustomPost2023.Data.Models
@{
    ViewBag.Title = "Список стран";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<style>
    /* Add your CSS styles here */
    .content {
        margin: 20px;
    }

    form {
        margin-bottom: 20px;
    }

    label {
        margin-right: 10px;
    }

    input[type="text"] {
        width: 200px;
        padding: 8px;
        margin-right: 10px;
    }

    input[type="submit"],
    a.button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }

    a.button:hover {
        background-color: #45a049;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<div class="content">
    <h2>Список стран</h2>
    <form method="get">
        <div>
            <label>Страна: </label>
            <input type="text" placeholder="Введите страну" name="countryStr">
            <input type="submit" value="Фильтр" />
        </div>
    </form>
    <p><a asp-action="Create" class="button">Добавить страну</a></p>
    <table class="table">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IDSort">
                    ID
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.countrySort">
                    Название страны
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.st.id</td>
                <td>@item.st.country_title</td>
                <td>
                    <a asp-action="Edit" asp-controller="Export_country" asp-route-id="@item.st.id" class="button">Изменить</a>
                </td>
                <td>
                    <form asp-controller="Export_country" asp-action="Delete" method="post" asp-route-id="@item.st.id">
                        <input type="submit" value="Удалить" class="button" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
