<!DOCTYPE html>
<html
<head>

</head>
<body class="body_class">
  <div class="header2">
    <div class="page">
      <div class="left">
        Выбрать критерий поиска
        <form class="">
            <input class="input_class" type="text" name="" placeholder="Введите ID...">
            <input class="input_class" type="text" name="" placeholder="Введите название...">
            <input class="input_class" type="text" name="" placeholder="Введите логин...">
            <input class="input_class" type="text" name="" placeholder="Введите пароль...">
        </form>
      </div>
      <p><button class="btn-search" type="button" name="button">Поиск</button></p>
      <br><br><br><br>
      <p><button asp-action="Create" class="btn-create" type="button" name="button">Создать импортера</button></p>
      <br><br><br><br>
      <div class="">
        <table class="table1" border="1">
           <tr class="head-table">
              <th>ID</th>
              <th>Название продукта</th>
              <th>Логин</th>
              <th>Пароль</th>
              <th>Действия</th>
           </tr>
                    @{
                        foreach (var p in Model)
                        {
                             <tr class="rows-table">
                             <td class="id-table1">@p.user_id</td>
                             <td class="prod-name">@p.user_name</td>
                             <td class="prod-name">@p.login</td>
                             <td class="prod-name">@p.password</td>
                             <td class="action-table1">
                                <form method="post" asp-controller="User" asp-action ="Delete">
                                    <input type="hidden" name="id" value="@p.user_id"/>
                                    <input type="image" src="~/img/trash.png" style="width: 1.5em; height: 1.5em;">
                                </form>
                                <a asp-action="Edit" asp-controller="User" asp-route-id="@p.user_id"><img src="~/img/edit.png" style="width: 1.5em; height: 1.5em;"></a>
                             </td>
                             </tr>
                        }
                    }
           </table>
      </div>
    </div>
    <br>
  </div>
</body>
</html>