<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <p><a asp-action="Create">Добавить пользователя</a></p>
    <table>
        <tbody>
            <tr><th>User ID</th><th>User name</th><th>User login</th><th>User passwor</th><th></th><th></th></tr>
            @{
                foreach (var p in Model)
                {
                    <tr>
                        <td>@p.user_id</td>
                        <td>@p.user_name</td>
                        <td>@p.login</td>
                        <td>@p.password</td>
                        <td>
                            <a asp-action="Edit" asp-controller="User" asp-route-id="@p.user_id">Изменить</a>
                        </td>
                        <td>
                            <form asp-controller="User" asp-action="Delete" method="post" asp-route-id="@p.user_id">
                                <input type="submit" value="Удалить" />
                            </form>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>