@using CustomPost2023.Data.Models
@{
    ViewBag.Title = "Список таможенных пунктов";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <h2>Список таможенных пунктов</h2>
    <form method="get">
            <div>
                <label>Название: </label>
                <input type="text" placeholder="Введите название" name="nameStr">
                <label>Локация: </label>
                <input type="text" placeholder="Введите локацию" name="locStr">
                <label>Проп. способность: </label>
                <input type="text" placeholder="Введите проп. способ." name="thrStr">
                <label>ID транспорта: </label>
                <input type="text" placeholder="Введите ID" name="vehStr">
                
                <input type="submit" value="Фильтр" />
            </div>
    </form>
    <p><a asp-action="Create">Добавить таможенный пункт</a></p>
    <table class="table">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IdSort">
                    ID
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.nameSort">
                    Название
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.massSort">
                    Локация
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.countSort">
                    Пропускная способность
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.priceSort">
                    ID транспорта доставки
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.st.customs_post_id</td>
                <td>@item.st.customs_post_title</td>
                <td>@item.st.location</td>
                <td>@item.st.throughput</td>
                <td>@item.st.fk_vehicle_id</td>
                <td>
                    <a asp-action="Edit" asp-controller="CustomPost" asp-route-id="@item.st.customs_post_id">Изменить</a>
                </td>
                <td>
                    <form asp-controller="CustomPost" asp-action="Delete" method="post" asp-route-id="@item.st.customs_post_id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>