@using Newtonsoft.Json


@model CustomPost2023.ViewModels.UserViewModel
@{
    bool isCountryCorrect = false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        form {
            max-width: 800px;
            margin: auto;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
    <title>Заявка на оформление таможенной декларации</title>
</head>
<body>

<div class="container">
    <form asp-action="ApplicationCreateDone" asp-controller="UserNative">
        <div asp-validation-summary="All">
            <h2 class="mt-4 mb-4">Заявка на оформление таможенной декларации</h2>
            <h3>Информация о грузе</h3>
            <div class="form-group">
                <label asp-for="new_application.app_product.product_title" for="quantity">Наименование товара: </label>
                <input asp-for="new_application.app_product.product_title" class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label asp-for="new_application.app_product.description" for="cargoDescription">Информация о грузе (Описание):</label>
                <textarea asp-for="new_application.app_product.description" class="form-control" rows="4" required></textarea>
            </div>
            <div>
                <label for="cargoDescription">Тип груза:</label>
                <select asp-for="new_application.app_product.fk_type_product_id">
                    @foreach (var item in @Model.ProductTypes)
                    {
                        <option value="@item.type_product_id">@item.type_product_title</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="new_application.app_product.quantity" for="quantity">Количество товаров:</label>
                <input asp-for="new_application.app_product.quantity" class="form-control" type="number" required>
            </div>

            <div class="form-group">
                <label for="cost">Стоимость товаров:</label>
                <input asp-for="new_application.app_product.price" type="number" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="weight">Вес груза:</label>
                <input asp-for="new_application.app_product.mass" type="number" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="dimensions">Характеристики груза:</label>
                <textarea asp-for="new_application.app_product.characteristics" rows="4" class="form-control" required></textarea>
            </div>

            <!-- Данные о отправителе и получателе -->
            <h3>Данные о отправителе</h3>
            <div class="form-group">
                <label for="senderName">Полное наименование отправителя:</label>
                <input value="@Model.User.user_name" disabled type="text" class="form-control" required>
                <input type="hidden" asp-for="@Model.User.user_id"/>
                <input type="hidden" asp-for="@Model.new_application.app_custom_post.customs_post_id"/>
            </div>
            <div class="form-group">
                <label for="senderName">Login отправителя:</label>
                <input value="@Model.User.login" disabled type="text" class="form-control" required>
            </div>
            <h3>Дополнительные данные</h3>
            <div class="form-group">
                <label for="senderName">Дата растаможки: </label>
                <input asp-for="new_application.app_history.custom_date" type="date" class="form-control" format="yyyy-MM-dd" required/>
            </div>
            <div class="form-group">
                <label for="senderName">Страна экспорта</label>
                <input asp-for="new_application.app_export_country.country_title" type="text" class="form-control" required/>
            </div>
            <button type="submit" class="btn btn-primary">Отправить заявку</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>