@{
    ViewBag.Title = "Личный кабинет работника таможни";
    //Layout = "/Views/Shared/_StaffLayout.cshtml";
}
@using CustomPost2023.ViewModels
@model CustomPost2023.ViewModels.StaffViewModel
@{
    var now = DateTime.Now;
    var year = now.Year;
    var month = now.Month;
    var firstDayOfMonth = new DateTime(year, month, 1);
    var lastDayOfMonth = new DateTime(year, month, DateTime.DaysInMonth(year, month));
    var daysInMonth = lastDayOfMonth.Day;
    var firstDayOfWeek = (int)firstDayOfMonth.DayOfWeek;
    bool task = false;
    var dayCount = 1;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .profile-container {
            margin-top: 20px;
            text-align: left;
        }

        .profile-photo {
            max-width: 80px;
            height: auto;
            border-radius: 50%;
        }

        .btn-change-photo {
            font-size: 12px;
            padding: 5px 10px;
            margin-top: 10px;
        }

        table {
            width: 120%; /* Пример: увеличьте или уменьшите значение по вашему усмотрению */
            table-layout: fixed;
            border-collapse: collapse;
        }

        thead {
            background-color: #00a0df; /* Голубой цвет шапки */
            color: #fff;
        }

        th {
            padding: 10px;
            text-align: center;
        }

        th, td {
            width: 14.28%; /* Равномерное распределение по 7 дням в неделе */
            border: 1px solid #ddd;
            padding: 10px;
            word-wrap: break-word;
        }

        .day {
            margin-bottom: 5px;
        }

        .appl_btn, /* Стили для кнопок */
        a.appl_link { /* Стили для ссылок */
            font-size: small;
            display: block;
            width: 100%;
            box-sizing: border-box;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: fuchsia; /* Цвет текста ссылок */
            text-decoration: none; /* Убираем подчеркивание ссылок */
        }

        .task-list {
            display: none;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 5px;
            z-index: 1;
            width: 200px; /* Set a fixed width for the dropdown */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .task-list a {
                display: block;
                padding: 8px;
                text-decoration: none;
                color: #333;
                transition: background-color 0.3s ease;
            }

                .task-list a:hover {
                    background-color: #f0f0f0;
                }

                .task-list a.no-task {
                    color: #999;
                }

        td:hover .task-list {
            display: block;
        }

        .submitLink {
            background-color: transparent;
            text-decoration: underline;
            border: none;
            color: blue;
            cursor: pointer;
        }

        submitLink:focus {
            outline: none;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
            text-align: center;
        }

        .form-container {
            display: flex;
            max-width: 90%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .left-block, .right-block {
            width: 48%;
            padding: 10px;
            box-sizing: border-box;
            text-align: left;
        }

        .right-block {
            margin-left: 2%;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }
        input, select, textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        textarea {
            height: 100px;
        }

        .btn-container {
            display: flex;
            justify-content: space-between;
        }

        .btn {
            padding: 10px;
            width: 48%;
            border: none;
            cursor: pointer;
        }


        .approve {
            background-color: #4caf50;
            color: #fff;
        }

        .reject {
            background-color: #f44336;
            color: #fff;
        }

        .navbar {
            background-color: #3498db; /* Цвет фона навбара */
            color: #fff; /* Цвет текста навбара */
            padding: 15px; /* Внутренний отступ */
            border-radius: 5px; /* Скругление углов */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
        }

        /* Стиль для бренда (левая часть навбара) */
        .navbar-brand {
            font-size: 24px; /* Размер шрифта бренда */
            font-weight: bold; /* Жирный шрифт */
        }

        /* Стиль для навигационных элементов */
        .navbar-nav .nav-item {
            margin-right: 15px; /* Отступ между элементами навбара */
        }

        /* Стиль для кнопок */
        .nav-button {
            background-color: #2ecc71; /* Цвет фона кнопок */
            color: #fff; /* Цвет текста кнопок */
            padding: 8px 15px; /* Внутренний отступ кнопок */
            border: none; /* Убираем границу кнопок */
            border-radius: 3px; /* Скругление углов кнопок */
            cursor: pointer; /* Курсор при наведении на кнопки */
        }

            /* Стиль для кнопок при наведении */
            .nav-button:hover {
                background-color: #27ae60; /* Измененный цвет фона при наведении */
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Главная</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form asp-controller="StaffNative" asp-action="ViewAllTasks" method="post" asp-route-id="@Model.staff.id">
                        <input type="submit" value="Все заявки" class="nav-button" />
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Выход</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <!-- Profile Container on the left -->
            <div class="col-md-6">
                <div class="profile-container">
                    <img src="~/img/2.jpg" alt="Profile Photo" class="profile-photo">

                    <!-- Личный кабинет работника таможни -->

                    <div class="form-group">
                        <label for="employeeName">Имя работника:</label>
                        <input type="text" class="form-control" id="employeeName" value="@Model.staff.name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="employeePosition">Должность:</label>
                        <input type="text" class="form-control" id="employeePosition" value="@Model.staff.job_title" disabled>
                    </div>
                    <div class="form-group">
                        <label for="employeeEmail">Email:</label>
                        <input type="email" class="form-control" id="employeeEmail" value="@Model.staff.email" disabled>
                    </div>
                    <div class="form-group">
                        <label for="employeePassword">Текущий пароль:</label>
                        <input type="password" class="form-control" id="employeePassword" value="@Model.staff.password" disabled>
                    </div>
                </div>
            </div>
            <!-- Calendar Container on the right -->
            <div class="col-md-6">
                <div>
                    <table>
                        <tr>
                            <th>Пн</th>
                            <th>Вт</th>
                            <th>Ср</th>
                            <th>Чт</th>
                            <th>Пт</th>
                            <th>Сб</th>
                            <th>Вс</th>
                        </tr>

                        @for (int i = 0; i < 6; i++)
                        {
                            <tr>
                                @for (int j = 0; j < 7; j++)
                                {
                                    if (i == 0 && j < firstDayOfWeek)
                                    {
                                        <td></td>
                                    }
                                    else if (dayCount > daysInMonth)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @dayCount

                                            <div class="task-list" id="tasks-@dayCount">
                                                @foreach (ApplicationViewModel item in Model.applications)
                                                {
                                                    if (item.app_history.custom_date.Day == dayCount)
                                                    {
                                                        task = true;
                                                        <form asp-controller="StaffNative" asp-action="ViewTask" asp-route-id="@item.app_app.id" class="submitLink">
                                                            <button class="submitLink" type="submit">@item.app_product.product_id @item.app_product.product_title</button>
                                                        </form>
                                                    }
                                                }
                                                @if (!task)
                                                {
                                                    <a href="#" class="no-task">Нет задач</a>
                                                }
                                                @{
                                                    task = false;
                                                }
                                            </div>
                                        </td>
                                        dayCount++;
                                    }
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>