@{
    ViewBag.Title = "Текущие заявки";
    Layout = "/Views/Shared/_StaffLayout.cshtml";
}
@using CustomPost2023.ViewModels
@model CustomPost2023.ViewModels.StaffViewModel
<style>
    body {
        padding: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }
</style>
<body>
    <div class="container">
        <h2 class="mt-4">Список заявок</h2>
        <table class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Вид груза</th>
                    <th>Наименование груза</th>
                    <th>Масса груза</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @{
                    //int applCount = Model.applications.Count(p => p.app_history.custom_date == default);
                    List<DateOnly> unDates = new List<DateOnly>();
                    foreach (ApplicationViewModel item in Model.applications)
                    {
                        if (!unDates.Contains(item.app_history.custom_date))
                        {
                            unDates.Add(item.app_history.custom_date);
                        }
                    }
                    for (int i = 0; i < unDates.Count; i++)
                    {
                        bool is_reapite = false;
                        List<ApplicationViewModel> models = Model.applications.Where(p => p.app_history.custom_date.Equals(unDates[i])).ToList();
                        @foreach (ApplicationViewModel item in models)
                        {
                            <tr>
                                @if (!is_reapite)
                                {
                                    <td rowspan="@Model.applications.Count(p=>p.app_history.custom_date.Equals(unDates[i]))">@unDates[i]</td>
                                    is_reapite = true;
                                }
                                <th>@item.app_prod_type.type_product_title</th>
                                <th>@item.app_product.product_title</th>
                                <th>@item.app_product.mass</th>
                                <th>@item.app_status.status_title</th>
                                <th>тут будет кнопка</th>
                            </tr>
                        }
                        is_reapite = false;
                    }
                }
            </tbody>
        </table>
    </div>
</body>