@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CustomPost2023.Data.Models
@{
    ViewBag.Title = "Список заявок";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<style>
    /* Add your CSS styles here */
    .content {
        margin: 20px;
    }

    form {
        margin-bottom: 20px;
    }

    input[type="text"] {
        padding: 8px;
        margin-right: 10px;
    }

    input[type="submit"] {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    a.button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }

    a.button:hover {
        background-color: #45a049;
    }
</style>
<div class="content">
    <h2>Список заявок</h2>
    <form method="get">
        <div>
            <input type="text" placeholder="Введите название" name="prodStr">
            <input type="text" placeholder="Введите ТП" name="locStr">
            <input type="text" placeholder="Введите сотрудника" name="staffStr">
            <input type="text" placeholder="Введите статус" name="statusStr">
            <input type="text" placeholder="Введите импортера" name="impStr">
            <input type="text" placeholder="Введите страну" name="expStr">
            <input type="submit" value="Фильтр" />
        </div>
    </form>
    <p><a asp-action="Create" class="button">Добавить заявку</a></p>
    <table class="table">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IdSort">
                    ID
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.prodSort">
                    Продукт
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.locSort">
                    Таможенный пункт
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.staffSort">
                    Сотрудник ТП
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.statusSort">
                    Статус
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.importSort">
                    Импортер
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.exportSort">
                    Страна экспорта
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ap.id</td>
                <td>@item.pr.product_title</td>
                <td>@item.cp.customs_post_title</td>
                <td>@item.st.name</td>
                <td>@item.ss.status_title</td>
                <td>@item.us.user_name</td>
                <td>@item.co.country_title</td>
                <td>
                    <a asp-action="Edit" asp-controller="Application" asp-route-id="@item.ap.id" class="button">Изменить</a>
                </td>
                <td>
                    <form asp-controller="Application" asp-action="Delete" method="post" asp-route-id="@item.ap.id">
                        <input type="submit" value="Удалить" class="button" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
