@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CustomPost2023.Data.Models
@* @model IEnumerable<CustomPost2023.Data.Models.staff> *@
@{
    ViewBag.Title = "Список заявок";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <h2>Список заявок</h2>
    <form method="get">
            <div>
                <input type="text" placeholder="Введите название" name="prodStr">
                <input type="text" placeholder="Введите ТП" name="locStr">
                <input type="text" placeholder="Введите сотрудника" name="staffStr">
                <input type="text" placeholder="Введите статус" name="statusStr">
                <input type="text" placeholder="Введите импортера" name="impStr">
                <input type="text" placeholder="Введите страну" name="expStr">
                
                <input type="submit" value="Фильтр" />
            </div>
    </form>
    <p><a asp-action="Create">Добавить заявку</a></p>
    <table class="table">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IdSort">
                    ID
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IdSort">
                    Продукт
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                    Таможенный пункт
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.AgeSort">
                    Сотрудник ТП
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.work_experienceSort">
                    Статус
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.customs_post_titleSort">
                    Импортер
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.job_titleSort">
                    Страна экспорта
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ap.id</td>
                <td>@item.pr.product_title</td>
                <td>@item.cp.customs_post_title</td>
                <td>@item.st.name</td>
                <td>@item.ss.status_title</td>
                <td>@item.us.user_name</td>
                <td>@item.co.country_title</td>
                <td>
                    <a asp-action="Edit" asp-controller="Application" asp-route-id="@item.ap.id">Изменить</a>
                </td>
                <td>
                    <form asp-controller="Application" asp-action="Delete" method="post" asp-route-id="@item.ap.id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>