@using CustomPost2023.Data.Models
@model IEnumerable<CustomPost2023.Data.Models.staff>
@{
    ViewBag.Title = "Список персонала";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <h2>Список персонала</h2>
    <p><a asp-action="Create">Добавить пользователя</a></p>
    <table class="table">
        <tr><th>ID</th><th>Имя</th><th>Возраст</th><th>Опыт работы</th><th>ID ТП</th><th>Должность</th><th>Номер телефона</th><th></th><th></th></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.age</td>
                <td>@item.work_experience</td>
                <td>@item.custom_post_id</td>
                <td>@item.job_title</td>
                <td>@item.phone_number</td>
                <td>
                    <a asp-action="Edit" asp-controller="Staff" asp-route-id="@item.id">Изменить</a>
                </td>
                <td>
                    <form asp-controller="Staff" asp-action="Delete" method="post" asp-route-id="@item.id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>