@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CustomPost2023.Data.Models
@* @model IEnumerable<CustomPost2023.Data.Models.loggs> *@
@{
    ViewBag.Title = "Loggs";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <h2>Loggs</h2>
    <form method="get">
        <div>
            <label>Action: </label>
            <input type="text" placeholder="Введите action" name="actionStr">
            <label>Table: </label>
            <input type="text" placeholder="Введите table" name="tableStr">
            <label>Date: </label>
            <input type="date" placeholder="Введите date" name="datetimeStr">
            <input type="submit" value="Фильтр" />
        </div>
    </form>
    <table class="table">
        <tr>
            <th>
                <a asp-action="Loggs" asp-route-sortOrder="@ViewBag.IdSort">
                    ID
                </a>
            </th>
            <th>
                <a asp-action="Loggs" asp-route-sortOrder="@ViewBag.datetimeSort">
                    Дата
                </a>
            </th>
            <th>
                <a asp-action="Loggs" asp-route-sortOrder="@ViewBag.user_idSort">
                    ID пользователя
                </a>
            </th>
            <th>
                <a asp-action="Loggs" asp-route-sortOrder="@ViewBag.actionSort">
                    Действие
                </a>
            </th>
            <th>
                <a asp-action="Loggs" asp-route-sortOrder="@ViewBag.tableSort">
                    Таблица
                </a>
            </th>
            <th>
                <a asp-action="Loggs" asp-route-sortOrder="@ViewBag.attributeSort">
                    Атрибут
                </a>
            </th>
            <th>
                    Значение до
            </th>
            <th>
                    Значение после
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.st.id</td>
                <td>@item.st.datetime</td>
                <td>@item.st.user_id</td>
                <td>@item.st.action</td>
                <td>@item.st.table</td>
                <td>@item.st.attribute</td>
                <td>@item.st.meaning_before</td>
                <td>@item.st.meaning_now</td>
                <td>
                    <form asp-controller="Admin" asp-action="DeleteLogg" method="post" asp-route-id="@item.st.id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>