@using CustomPost2023.Data.Models

@{
    ViewBag.Title = "Список типов продуктов";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<style>
    /* Add your CSS styles here */
    .content {
        margin: 20px;
    }

    a.button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }

    a.button:hover {
        background-color: #45a049;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<div class="content">
    <h2>Список типов продуктов</h2>
    <p><a asp-action="Create" class="button">Добавить тип продуктов</a></p>
    <table class="table">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IdSort">
                    ID
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.nameSort">
                    Название
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.coefSort">
                    Коэффициент
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.st.type_product_id</td>
                <td>@item.st.type_product_title</td>
                <td>@item.st.customs_clearance_coefficient</td>
                <td>
                    <a asp-action="Edit" asp-controller="ProductType" asp-route-id="@item.st.type_product_id" class="button">Изменить</a>
                </td>
                <td>
                    <form asp-controller="ProductType" asp-action="Delete" method="post" asp-route-id="@item.st.type_product_id">
                        <input type="submit" value="Удалить" class="button" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
