@using CustomPost2023.Data.Models

@{
    ViewBag.Title = "Список статусов";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <h2>Список статусов</h2>
    <p><a asp-action="Create">Добавить статус</a></p>
    <table class="table">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IdSort">
                    ID
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.nameSort">
                    Название
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.st.id</td>
                <td>@item.st.status_title</td>
                <td>
                    <a asp-action="Edit" asp-controller="Status" asp-route-id="@item.st.id">Изменить</a>
                </td>
                <td>
                    <form asp-controller="Status" asp-action="Delete" method="post" asp-route-id="@item.st.id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>